:root {
  --color-primary: #00934c;
  --color-icon: #555;
  --color-bg: #fff;
  --color-text: #444;
  --color-border: #ddd;
  --color-overlay: rgba(150, 150, 150, 0.404);
  --color-box-shadow-nav: rgb(170 170 170 / 77%);
  --color-bg-footer: #eee;

  --bg-scroll: #e2e2e2;
  --scroll-thumb: rgba(85, 85, 85, 0.4);
}

[theme="dark"] {
  --color-bg: #1a1a1a;
  --color-icon: #eee;
  --color-text: #eee;
  --color-border: rgba(221, 221, 221, 0.164);
  --color-overlay: rgba(0, 0, 0, 0.651);
  --color-box-shadow-nav: #2a2a2a;
  --color-bg-footer: rgba(238, 238, 238, 0.055);

  --bg-scroll: #4f4f4f;
  --scroll-thumb: rgba(181, 181, 181, 0.4);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg-scroll);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb);
  border: 4px solid var(--bg-scroll);
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999;
}

html {
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
  line-height: 1.6;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
