@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

body,
input {
  font-family: "Source Sans Pro", sans-serif;
  color: var(--color-text);
  font-size: 1.6rem;
}

#app {
  color: var(--color-text);
}

ul li {
  list-style-type: none;
}
